<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='dglobal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mixed:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="landing-page">
      <header class="navbar">
        <img
          class="random-symboles-3"
          loading="lazy"
          alt=""
          src="./public/random-symboles-3.svg"
        />

        <div class="tech-name">
          <a class="techtitans">TechTitans</a>
        </div>
        <nav class="nav-links">
          <nav class="navitems">
            <a class="home">Home</a>
            <a class="about-us">About Us</a>
            <a class="projects">Projects</a>
            <a class="services">Services</a>
            <a class="contact-us">Contact Us</a>
          </nav>
        </nav>
      </header>
      <section class="hero">
        <h1 class="building-things-is">Building things is our mission.</h1>
        <div class="featured-project">
          <div class="feature-pj">
            <div class="featurepj">
              <div class="project-name">
                <b class="feature-projects">Feature Projects</b>
              </div>
              <div class="buidings-name">
                The fingerprint based door lock system.
              </div>
            </div>
            <div class="navigation-buttons">
              <img
                class="back-button-icon"
                loading="lazy"
                alt=""
                src="./public/back-button@2x.png"
              />

              <img
                class="next-button-icon"
                loading="lazy"
                alt=""
                src="./public/next-button@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="reasons">
        <div class="reputation">
          <h2 class="our-reputation">Our Reputation</h2>
        </div>
        <div class="reasons-list">
          <div class="reasons1">
            <img class="icon" loading="lazy" alt="" src="./public/icon.svg" />

            <b class="best-services">Best Services</b>
            <div class="lorem-ipsum">
              Nullam senectus porttitor in eget. Eget rutrum leo interdum.
            </div>
          </div>
          <div class="reason-instance">
            <div class="reasons2">
              <img
                class="icon1"
                loading="lazy"
                alt=""
                src="./public/icon.svg"
              />

              <b class="best-services1">Best Teams</b>
              <div class="lorem-ipsum1">
                Cursus semper tellus volutpat aliquet lacus.
              </div>
            </div>
          </div>
          <div class="reasons3">
            <img
              class="icon2"
              loading="lazy"
              alt=""
              src="./public/icon-2.svg"
            />

            <b class="best-services2">Best Designs</b>
            <div class="lorem-ipsum2">
              Ultricies at ipsum nunc, tristique nam lectus.
            </div>
          </div>
        </div>
      </section>
      <section class="about-us1">
        <div class="wrapper-unsplash6anudmpilw4">
          <img
            class="unsplash6anudmpilw4-icon"
            loading="lazy"
            alt=""
            src="./public/unsplash6anudmpilw4@2x.png"
          />
        </div>
        <div class="about-content">
          <div class="about-us-parent">
            <h2 class="about-us2">About us</h2>
            <div class="for-more-than-container">
              <p class="for-more-than">
                For more than 30 years we have been delivering world-class
                construction and we’ve built many lasting relationships along
                the way.
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="weve-matured-into">
                We’ve matured into an industry leader and trusted resource for
                those seeking quality, innovation and reliability when building
                in the U.S.
              </p>
            </div>
          </div>
          <button class="button">
            <div class="learn-more">More on Our History</div>
          </button>
        </div>
      </section>
      <section class="services1">
        <div class="services-title">
          <h2 class="services2">Services</h2>
        </div>
        <div class="service-grid">
          <div class="servicecard">
            <div class="card-icons">
              <img
                class="icon3"
                loading="lazy"
                alt=""
                src="./public/icon-3.svg"
              />
            </div>
            <div class="servicecard-inner">
              <div class="frame-child"></div>
            </div>
            <div class="service">Construction</div>
          </div>
          <div class="servicecard1">
            <div class="icon-wrapper">
              <div class="icon4">
                <div class="icon-backgrounds"></div>
                <img
                  class="icon-graphics"
                  loading="lazy"
                  alt=""
                  src="./public/vector.svg"
                />
              </div>
            </div>
            <div class="servicecard-child">
              <div class="frame-item"></div>
            </div>
            <div class="service1">Renovation</div>
          </div>
          <div class="servicecard2">
            <div class="icon-container">
              <div class="icon5">
                <div class="icon-child"></div>
                <img
                  class="vector-icon"
                  loading="lazy"
                  alt=""
                  src="./public/vector-1.svg"
                />
              </div>
            </div>
            <div class="frame-div">
              <div class="frame-inner"></div>
            </div>
            <div class="service2">Consultation</div>
          </div>
          <div class="servicecard3">
            <div class="icon-frame">
              <div class="icon6">
                <div class="icon-item"></div>
                <img
                  class="vector-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/vector-2.svg"
                />
              </div>
            </div>
            <div class="servicecard-inner1">
              <div class="rectangle-div"></div>
            </div>
            <div class="service3">Repair Services</div>
          </div>
          <div class="servicecard4">
            <div class="icon-wrapper1">
              <div class="icon7">
                <div class="icon-inner"></div>
                <img
                  class="vector-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/vector-3.svg"
                />
              </div>
            </div>
            <div class="servicecard-inner2">
              <div class="frame-child1"></div>
            </div>
            <div class="service4">Architecture</div>
          </div>
          <div class="servicecard5">
            <div class="icon-wrapper2">
              <img
                class="icon8"
                loading="lazy"
                alt=""
                src="./public/icon-4.svg"
              />
            </div>
            <div class="servicecard-inner3">
              <div class="frame-child2"></div>
            </div>
            <div class="service5">Electric</div>
          </div>
        </div>
      </section>
      <section class="stats">
        <div class="stats-parent">
          <div class="stats1">
            <div class="stats-placeholder">84</div>
            <div class="project-count">
              <div class="count-bar"></div>
              <div class="projects-completed">Happy Clients</div>
            </div>
          </div>
          <div class="stats-instance">
            <div class="stats2">
              <div class="div">30</div>
              <div class="project-counter">
                <div class="project-counter-child"></div>
                <div class="projects-completed1">Years in Business</div>
              </div>
            </div>
          </div>
        </div>
        <div class="experience">
          <div class="experience-content">
            <div class="years-experience-parent">
              <h1 class="years-experience">30 Years Experience</h1>
              <div class="our-company-has">
                Our company has been the leading provided construction services
                to clients throughout the USA since 1988.
              </div>
            </div>
            <button class="button1">
              <div class="learn-more1">Contact Us</div>
            </button>
          </div>
        </div>
        <div class="stats-illustration">
          <div class="stats3">
            <div class="div1">123</div>
            <div class="experience-counter">
              <div class="experience-counter-child"></div>
              <div class="projects-completed2">Projects Completed</div>
            </div>
          </div>
          <img
            class="illus-icon"
            loading="lazy"
            alt=""
            src="./public/illus@2x.png"
          />
        </div>
        <img
          class="illus-icon1"
          loading="lazy"
          alt=""
          src="./public/illus-1@2x.png"
        />

        <div class="stats-group">
          <div class="stats4">
            <div class="div2">37</div>
            <div class="project-total">
              <div class="project-total-child"></div>
              <div class="projects-completed3">Awards Win</div>
            </div>
          </div>
          <img
            class="illus-icon2"
            loading="lazy"
            alt=""
            src="./public/illus-2@2x.png"
          />
        </div>
        <img
          class="illus-icon3"
          loading="lazy"
          alt=""
          src="./public/illus-3@2x.png"
        />
      </section>
      <section class="ads">
        <img
          class="unsplashmp0bgas-d1c-icon"
          loading="lazy"
          alt=""
          src="./public/unsplashmp0bgas-d1c@2x.png"
        />

        <div class="free-consultation-with-excepti-parent">
          <h2 class="free-consultation-with">
            Free consultation with exceptional quality
          </h2>
          <div class="just-one-call-container">
            Just one call away:
            <span class="span">+84 1102 2703</span>
          </div>
        </div>
        <div class="detail-button">
          <button class="button2">
            <div class="detail">Get your consultation</div>
          </button>
        </div>
      </section>
      <section class="projects1">
        <h2 class="projects2">Projects</h2>
        <div class="project-gallery">
          <div class="project-filter">
            <div class="menuitem">
              <div class="menu-background"></div>
              <b class="all">All</b>
            </div>
            <div class="menuitem1">
              <div class="menuitem-child"></div>
              <div class="all1">Commercial</div>
            </div>
            <div class="menuitem2">
              <div class="menuitem-item"></div>
              <div class="all2">Residential</div>
            </div>
            <div class="menuitem3">
              <div class="menuitem-inner"></div>
              <div class="all3">Other</div>
            </div>
          </div>
          <div class="project-row-parent">
            <div class="project-row">
              <div class="projectcard">
                <img
                  class="unsplasht0iffjw-rb0-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplasht0iffjwrb0@2x.png"
                />

                <div class="info">
                  <b class="pj-name">Wildstone Infra Hotel</b>
                  <div class="address">2715 Ash Dr. San Jose, South Dakota</div>
                </div>
              </div>
              <div class="projectcard1">
                <img
                  class="unsplash8orcwrbn-fc-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplash8orcwrbn-fc@2x.png"
                />

                <div class="info1">
                  <b class="pj-name1">Wish Stone Building</b>
                  <div class="address1">
                    2972 Westheimer Rd. Santa Ana, Illinois
                  </div>
                </div>
              </div>
            </div>
            <div class="project-row1">
              <div class="projectcard2">
                <img
                  class="unsplashuv81e0oxxwq-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashuv81e0oxxwq@2x.png"
                />

                <div class="info2">
                  <b class="pj-name2">Mr. Parkinston’s House</b>
                  <div class="address2">
                    3517 W. Gray St. Utica, Pennsylvania
                  </div>
                </div>
              </div>
              <div class="projectcard3">
                <img
                  class="unsplashgmes5dnykus-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashgmes5dnykus@2x.png"
                />

                <div class="info3">
                  <b class="pj-name3">Oregano Height</b>
                  <div class="address3">2464 Royal Ln. Mesa, New Jersey</div>
                </div>
              </div>
            </div>
            <div class="navigation">
              <img
                class="back-button-icon1"
                loading="lazy"
                alt=""
                src="./public/back-button-1@2x.png"
              />

              <div class="page-dots">
                <div class="pagecontrol">
                  <div class="dot"></div>
                  <div class="dot1"></div>
                  <div class="dot2"></div>
                  <div class="dot3"></div>
                  <div class="dot4"></div>
                </div>
              </div>
              <img
                class="next-button-icon1"
                loading="lazy"
                alt=""
                src="./public/next-button-1@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="cta">
        <div class="action-container">
          <div class="action-content">
            <div class="action-heading">
              <h2 class="what-can-us">What can us do for you?</h2>
            </div>
            <div class="we-are-ready">
              We are ready to work on a project of any complexity, whether it’s
              commercial or residential.
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-fields">
            <div class="contact-form">
              <div class="form-row">
                <div class="formelement">
                  <input
                    class="place-holder"
                    placeholder="Your Name*"
                    type="text"
                  />
                </div>
                <div class="formelement1">
                  <div class="place-holder1">
                    <span>Email</span>
                    <b class="b">*</b>
                  </div>
                </div>
              </div>
              <div class="form-row1">
                <div class="formelement2">
                  <div class="place-holder2">
                    <span>Reason for Contacting</span>
                    <b class="b1">*</b>
                  </div>
                  <img
                    class="icround-arrow-drop-down-circl-icon"
                    alt=""
                    src="./public/icroundarrowdropdowncircle.svg"
                  />
                </div>
                <div class="formelement3">
                  <input
                    class="place-holder3"
                    placeholder="Phone"
                    type="text"
                  />
                </div>
              </div>
              <textarea
                class="formelement4"
                placeholder="Message"
                rows="{7}"
                cols="{30}"
              >
              </textarea>
            </div>
            <div class="indicates-a-required-container">
              <span>*</span>
              <span class="span1"> </span>
              <span class="indicates-a-required"
                >indicates a required field</span
              >
            </div>
          </div>
          <div class="action-button">
            <button class="button3">
              <div class="learn-more2">Submit</div>
            </button>
          </div>
        </div>
      </section>
      <section class="bottom">
        <div class="footer-top">
          <div class="contact-details">
            <div class="address4">
              <div class="address5">Address:</div>
              <div class="elgin-st-celina">
                6391 Elgin St. Celina, Delaware 10299
              </div>
            </div>
            <div class="phone">
              <div class="phone1">Phone:</div>
              <div class="div3">+84 1102 2703</div>
            </div>
            <div class="email">
              <div class="email1">Email:</div>
              <div class="hellotheboxcom">hello@thebox.com</div>
            </div>
          </div>
          <div class="logo">
            <img
              class="random-symboles-31"
              loading="lazy"
              alt=""
              src="./public/random-symboles-3.svg"
            />

            <div class="brand-name">
              <h3 class="thebox">
                <i class="the">The</i>
                <b>Box</b>
              </h3>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="subscription">
            <div class="newsletter">Newsletter:</div>
            <div class="subscription-form">
              <div class="formelement5">
                <input
                  class="place-holder4"
                  placeholder="Your email here"
                  type="text"
                />
              </div>
              <button class="button4">
                <div class="learn-more3">Subscribe</div>
              </button>
            </div>
          </div>
          <div class="social-links">
            <div class="social">Social:</div>
            <div class="social-icons">
              <img
                class="akar-iconsfacebook-fill"
                loading="lazy"
                alt=""
                src="./public/akariconsfacebookfill.svg"
              />

              <img
                class="entypo-sociallinkedin-with-ci-icon"
                loading="lazy"
                alt=""
                src="./public/entyposociallinkedinwithcircle.svg"
              />

              <img
                class="entypo-socialtwitter-with-cir-icon"
                loading="lazy"
                alt=""
                src="./public/entyposocialtwitterwithcircle.svg"
              />
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="thebox-company">
          TheBox Company © 2022. All Rights Reserved
        </div>
      </div>
    </div>
  </body>
</html>
