body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --caption: "Work Sans";
  --font-mixed: Mixed;

  /* font sizes */
  --caption-size: 16px;
  --body-medium-size: 20px;
  --body-default-size: 18px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --heading-4-size: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --heading-1-size: 72px;
  --font-size-39xl: 58px;
  --font-size-24xl: 43px;
  --heading-2-size: 60px;

  /* Colors */
  --neutral-white: #fff;
  --primary: #2947a9;
  --secondary: #f9995d;
  --color-gainsboro-100: #e6e6e6;
  --neutral-100: #e0e3eb;
  --neutral-200: #c2c7d6;
  --neutral-300: #a3aac2;
  --color-black: #000;
  --neutral-700: #3d445c;
  --neutral-800: #292e3d;
  --neutral-50: #f6f8f7;
  --color-royalblue-100: #4f6ecf;
  --neutral-500: #667299;
  --color-salmon: #ed6565;
  --neutral-600: #525b7a;
  --color-cornflowerblue: #7595fd;
  --neutral-400: #858ead;
  --neutral-900: #14171f;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-sm: 14px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-21xl: 40px;
  --gap-14xl: 33px;
  --gap-xs: 12px;
  --gap-4xl: 23px;
  --gap-11xs: 2px;
  --gap-29xl: 48px;
  --gap-lg: 18px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-7xl: 26px;
  --padding-93xl: 112px;
  --padding-6xl: 25px;
  --padding-37xl: 56px;
  --padding-xl: 20px;
  --padding-36xl: 55px;
  --padding-33xl: 52px;
  --padding-3xs: 10px;
  --padding-4xl: 23px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-8xl: 27px;
  --padding-38xl: 57px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-11xl: 30px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-10xl: 29px;
  --padding-25xl: 44px;
  --padding-19xl: 38px;
  --padding-14xl: 33px;
  --padding-24xl: 43px;
  --padding-16xl: 35px;
  --padding-mid: 17px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-11xs: 2px;

  /* Effects */
  --shadow-2: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  --shadow-1: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
}
