.content-child {
  height: 583px;
  width: 638px;
  position: absolute;
  margin: 0 !important;
  bottom: -303px;
  left: -207px;
  z-index: 1;
}
.bg {
  width: 860px;
  height: 900px;
  position: relative;
  background: linear-gradient(180deg, #0575e6, #03298a 84.79%, #021b79);
  display: none;
  max-width: 100%;
}
.adovelopers {
  margin: 0;
  height: 60px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.the-best-fingerprint {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  z-index: 1;
}
.app-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-more1 {
  text-decoration: none;
  height: 21px;
  position: relative;
  font-size: var(--input-field-size);
  font-family: var(--font-poppins);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
}
.app-description,
.content,
.read-more {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-more {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 29px var(--padding-5xs) 30px;
  background-color: #0575e6;
  border-radius: 30px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.read-more:hover {
  background-color: #2b9cff;
}
.app-description,
.content {
  max-width: 100%;
}
.app-description {
  flex: 1;
  background: linear-gradient(180deg, #0575e6, #03298a 84.79%, #021b79);
  flex-direction: column;
  padding: 371px 157px 382px;
  box-sizing: border-box;
  gap: 23px;
}
.content {
  width: 860px;
  flex-direction: row;
  position: relative;
  min-width: 860px;
  text-align: left;
  font-size: 40px;
  color: var(--primary-contrast);
  font-family: var(--font-poppins);
}
.billboard-2-icon {
  height: 42px;
  width: 42px;
  object-fit: cover;
}
.billboard-2-icon,
.logo-name,
.pngwing-1-icon {
  position: relative;
  display: none;
}
.pngwing-1-icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.logo-name {
  width: 83px;
  letter-spacing: 0.03em;
  line-height: 125.3%;
  text-transform: uppercase;
}
.group-icon {
  height: 62px;
  width: 55.2px;
  position: relative;
}
.fingerprint-login {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.log-in-to {
  margin: 0;
  position: relative;
  font-size: var(--heading-3-size);
  line-height: 125.3%;
  font-weight: 600;
  font-family: var(--tertiary-action-text);
  color: var(--color-black);
  text-align: center;
}
.login-instruction {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 36px 0 37px;
}
.place-your-registered {
  position: relative;
  font-size: var(--input-field-size);
  line-height: 134%;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-80-light);
  white-space: pre-wrap;
  text-align: center;
}
.login-instruction-parent,
.login-instructions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-instruction-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.login-instructions {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 var(--padding-smi);
}
.group-icon1 {
  width: 19px;
  height: 19px;
  position: relative;
}
.google-login-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.continue-with-touch {
  position: relative;
  font-size: var(--button-primary-text-size);
  font-weight: 600;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-70-light);
  text-align: center;
}
.continue-with-google {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 60px;
  gap: var(--gap-xl);
}
.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--contrast-30-light);
  box-sizing: border-box;
}
.email-address-input-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.frame-item,
.or {
  position: relative;
}
.or {
  font-size: var(--input-field-size);
  line-height: 134%;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-30-light);
  text-align: center;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--contrast-30-light);
  box-sizing: border-box;
}
.email-address-input-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.email-address-container,
.email-address-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.email-address-input {
  flex: 1;
  align-items: flex-end;
  gap: 17px;
}
.email-address-container {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-smi);
}
.email-address {
  width: 192px;
  position: relative;
  font-size: var(--field-label-size);
  font-weight: 500;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-70-light);
  text-align: left;
  display: flex;
  align-items: center;
}
.email-input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.email-input,
.field {
  box-sizing: border-box;
  max-width: 100%;
}
.email-input {
  width: 323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.field {
  height: 57px;
  width: 336px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--contrast-20-light);
  display: none;
}
.johndoegmailcom {
  width: 178px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--tertiary-action-text);
  font-size: var(--input-field-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 22px;
  color: var(--body-text-light);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 1;
}
.email-login,
.email-value {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.email-value {
  border-radius: var(--br-10xs);
  border: 1px solid var(--contrast-20-light);
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-mini) 16px;
}
.email-login {
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-8xs);
}
.password {
  flex: 1;
  position: relative;
  font-size: var(--field-label-size);
  font-weight: 500;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-70-light);
  text-align: left;
}
.password-input-container {
  width: 213px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-12xs);
  box-sizing: border-box;
}
.field1 {
  height: 57px;
  width: 336px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--contrast-20-light);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div,
.input {
  flex: 1;
  position: relative;
  font-size: var(--input-field-size);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--body-text-light);
  text-align: left;
}
.input {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  display: inline-block;
  min-width: 95px;
  padding: 0;
  z-index: 1;
}
.div {
  flex-shrink: 0;
  z-index: 2;
  margin-left: -157px;
}
.password-dots {
  width: 157px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.eye-disabled-icon,
.eye-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.eye-disabled-icon {
  z-index: 2;
}
.password-visibility {
  height: 24px;
  width: 24px;
  position: relative;
}
.password-input,
.password-value {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.password-value {
  border-radius: var(--br-10xs);
  border: 1px solid var(--contrast-20-light);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) 17px var(--padding-mini) var(--padding-mini);
  gap: var(--gap-xl);
}
.password-input {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-8xs);
}
.checkbox {
  margin: 0;
  width: 16px;
  height: 15px;
  position: relative;
}
.remember-me-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.remember-me {
  position: relative;
  font-size: var(--tertiary-action-text-size);
  line-height: 122%;
  font-family: var(--tertiary-action-text);
  color: var(--contrast-70-light);
  text-align: left;
}
.remember-password {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.forgot-password {
  position: relative;
  font-size: var(--tertiary-action-text-size);
  font-weight: 600;
  font-family: var(--tertiary-action-text);
  color: #333;
  text-align: center;
}
.remember-forgot-password,
.social-login {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.social-login {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.button,
.icon1 {
  position: relative;
}
.icon1 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button {
  font-size: var(--button-primary-text-size);
  font-weight: 600;
  font-family: var(--tertiary-action-text);
  color: var(--primary-contrast);
  text-align: center;
}
.log-in,
.login-options {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.log-in {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid-5) var(--padding-xl);
  background-color: var(--primary-text-light);
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-9xs);
  white-space: nowrap;
}
.log-in:hover {
  background-color: #308fff;
}
.login-options {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21.7px;
  max-width: 100%;
}
.dont-have-an {
  position: relative;
  line-height: 122%;
}
.sign-up {
  position: relative;
  font-weight: 600;
  color: var(--primary-text-light);
  white-space: nowrap;
}
.signup,
.signup-prompt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.signup-prompt {
  gap: 2px;
}
.signup {
  padding: 0 74px 0 69px;
}
.login-form-container {
  align-self: stretch;
  flex-direction: column;
  gap: 33px;
  max-width: 100%;
}
.buttonless,
.login,
.login-form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  width: 337px;
  flex-direction: column;
  padding: 130px 0 0;
  box-sizing: border-box;
  min-width: 337px;
  max-width: 100%;
}
.buttonless {
  width: 100%;
  position: relative;
  background-color: var(--primary-contrast);
  overflow: hidden;
  flex-direction: row;
  gap: 127px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--tertiary-action-text-size);
  color: var(--color-black);
  font-family: var(--tertiary-action-text);
}
@media screen and (max-width: 1275px) {
  .content,
  .login {
    flex: 1;
  }
  .buttonless {
    gap: 63px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .content {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .adovelopers {
    font-size: 32px;
  }
  .app-description {
    padding: 241px 78px 248px;
    box-sizing: border-box;
  }
  .login {
    padding-top: 84px;
    box-sizing: border-box;
  }
  .buttonless {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .adovelopers {
    font-size: 24px;
  }
  .app-description {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .log-in-to {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .continue-with-google,
  .signup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .login-form-container {
    gap: var(--gap-base);
  }
  .login {
    min-width: 100%;
  }
  .buttonless {
    gap: var(--gap-base);
  }
}
