{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
	        <h3 class="mt-5">Your photo</h3>
	        <img src="{{ url_for('video_feed') }}" width="50%" alt="cam">

	        <h3 class="mt-5">Your data</h3>
			<form action="" method="post">
				<label for="email">Email:</label>
				<input class="form-control" type="email" name="email" id="email" value="v@gmail.com" />
				<label for="password">Password:</label>
				<input class="form-control" type="password" name="password" id="password" value="11111111" />
				<input class="btn btn-primary mt-3" type="submit" value="Submit" />
			</form>
        </div>
    </div>
{% endblock %}