{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
	        <h3 class="mt-5">Your photo</h3>
	        <img src="{{ url_for('video_feed') }}" width="50%" alt="cam">
            <button class="btn btn-outline-primary mt-3" onclick="postData()">Capture</button>

	        <h3 class="mt-5">Your data</h3>
			<form action="" method="post">
				<label for="email">Email:</label>
				<input class="form-control" type="email" name="email" id="email" value="v@gmail.com" />
				<label for="password">Password:</label>
				<input class="form-control" type="password" name="password" id="password" value="11111111" />
				<input class="btn btn-primary mt-3" type="submit" value="Submit" />
			</form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
  function postData() {
    // Create an HTTP request
    const http = new XMLHttpRequest();
     // Define what should happen when the response returns
    http.onreadystatechange = function(){
        if(http.readyState === 4 && http.status == 200){
            console.log('Data posted successfully');
        }
    }
     // Specify the type of request and endpoint URL
    http.open("POST", "{{ url_for('take_screenshot') }}", true);
     // Send the request
    http.send();
  }
</script>
{% endblock %}